body {
  margin: 0;
  padding: 0;
  font-family: Roboto; }

.mainContainer {
  background-image: url(../images/great-fun-family-time-happy-couple-happy-kids-autumn-production-lifestyle-photography-feeling-good-beurer.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover; }

.slick-slide img {
  display: inline-block; }

.mainContainer__img-logo {
  padding: 9px 3px;
  display: inline-block !important; }

.mainContainer__rightnav {
  float: right; }

.mainContainer__list {
  display: inline-flex;
  margin: 0;
  margin-top: 23px;
  vertical-align: top; }
  .mainContainer__list li {
    list-style-type: none; }
    .mainContainer__list li a {
      text-decoration: none;
      color: white;
      font-family: Roboto;
      font-size: 12px;
      font-weight: bold;
      margin: 0 20px; }
  .mainContainer__list .specialimg1 {
    margin-right: 24px; }
  .mainContainer__list .specialimg2 {
    margin-right: 26px; }
  .mainContainer__list .speciala1 {
    margin-right: 13px !important; }
  .mainContainer__list .speciala2 {
    margin-right: 38px; }

.mainContainer__likes {
  display: inline-flex;
  color: white; }
  .mainContainer__likes .mainContainer__heart-img {
    margin: 26px 0; }
  .mainContainer__likes span {
    margin-top: 24px;
    margin-left: 8px;
    margin-right: 20px; }

.mainContainer__mainText {
  margin-top: 77px;
  color: white;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  font-family: Roboto; }
  .mainContainer__mainText p {
    margin: 0; }
  .mainContainer__mainText .specialp1 {
    margin-left: -33px; }
  .mainContainer__mainText .specialp2 {
    margin-left: -49px; }

.mainContainer__inputs {
  text-align: center;
  margin-top: 38px; }
  .mainContainer__inputs input:not([type="button"]) {
    text-indent: 12px; }

.mainContainer__typeFieldFirst {
  height: 48px;
  width: 348px;
  margin-left: -28px; }

.mainContainer__typeFieldSecond {
  margin-left: -5px;
  padding: 0;
  height: 48px;
  width: 261px; }

.mainContainer__butt {
  margin-left: -5px;
  padding: 0;
  height: 48px;
  width: 107px;
  background-color: #00BEAE;
  color: white;
  border: none;
  font-weight: bold; }

.mainContainer__playButton {
  display: block !important;
  margin: 41px auto;
  margin-bottom: 21px;
  padding-right: 29px; }

.mainContainer__smallParagraph {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-left: -34px; }

.mainContainer__listPoint {
  padding: 33px;
  display: inline-flex;
  color: white;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 6px; }
  .mainContainer__listPoint li {
    margin: 0 13px; }
  .mainContainer__listPoint li:hover {
    color: #00BEAE; }

.mainBlocks {
  height: 610px;
  text-align: center; }
  .mainBlocks p {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 33px;
    margin-left: 13px; }
  .mainBlocks .secondrow {
    margin-top: 21px; }

.mainBlocks__row {
  margin-right: 13px; }
  .mainBlocks__row div {
    background-image: url(../images/israel.jpg);
    background-size: cover;
    height: 231px;
    width: 231px;
    display: inline-block;
    margin: 0 10px;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 9.5; }
  .mainBlocks__row div:hover {
    background: rgba(0, 0, 0, 0.4);
    opacity: 1.00; }
  .mainBlocks__row .specialdiv4 {
    margin-left: 7px; }

.findTreatmentContainer {
  background-color: #F4C900;
  height: 392px;
  height: 392px; }
  .findTreatmentContainer p {
    color: white;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding-top: 38px; }
  .findTreatmentContainer .findTreatmentContainer__images {
    text-align: center;
    margin-top: 41px; }
    .findTreatmentContainer .findTreatmentContainer__images div {
      display: inline-block;
      vertical-align: top; }
      .findTreatmentContainer .findTreatmentContainer__images div span.littletext {
        width: 147px;
        display: block;
        font-size: 18px;
        font-weight: normal;
        color: black;
        margin-top: 16px;
        padding-left: 8px; }
      .findTreatmentContainer .findTreatmentContainer__images div span.specialspan1 {
        margin-top: 19px; }
    .findTreatmentContainer .findTreatmentContainer__images div > div {
      margin: 0 8px;
      display: inline-block;
      background-color: white;
      height: 147px;
      width: 147px; }

.specialistContainer {
  background-color: #00BEAE;
  height: 567px;
  text-align: center;
  padding-top: 33px; }
  .specialistContainer p {
    color: white;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    white-space: pre;
    margin: 0; }
  .specialistContainer .specialistContainer__firstparagraph {
    padding-left: 7px; }
  .specialistContainer .specialistContainer__secondparagraph {
    padding: 5px; }
  .specialistContainer .specialistContainer__third {
    font-size: 18px;
    margin-top: 35px; }
  .specialistContainer .specialistContainer__paragraphContainer {
    margin-top: 21px; }
    .specialistContainer .specialistContainer__paragraphContainer .specialp3 {
      margin-left: 6px; }
    .specialistContainer .specialistContainer__paragraphContainer .specialp4 {
      margin-left: 4px; }
  .specialistContainer .specialistContainer__paragraphContainer > p {
    font-size: 18px;
    font-weight: normal; }

.containerForLogos {
  margin-top: 40px; }

#specialdiv {
  background-color: transparent;
  margin-right: 12px; }

.containerForLogos__row > div {
  display: inline-block;
  height: 63px;
  background-color: white;
  vertical-align: middle;
  margin: 0px 4px; }

.containerForLogos__transparent {
  height: 63px;
  width: 155px;
  background-color: transparent !important;
  margin-left: 3px; }

.containerForLogos__transparentSmall {
  height: 63px;
  width: 72px;
  background-color: transparent !important; }

.secondrowLogos {
  margin-top: 10px; }

.containerForLogos__butt {
  margin-top: 53px;
  width: 240px;
  height: 48px;
  background-color: #FF5A5F;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-right: -12px; }

.containerHelp {
  margin-top: 33px;
  height: 628px;
  text-align: center; }
  .containerHelp p {
    color: black;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin: 0; }
  .containerHelp .containerHelp__row {
    margin-left: 62px; }
  .containerHelp .containerHelp__block {
    display: inline-block; }
  .containerHelp .containerHelp__reliabilityparagraph {
    font-size: 24px !important;
    font-weight: normal;
    text-align: left;
    margin-top: 25px; }
  .containerHelp .containerHelp__exchange {
    font-size: 14px !important;
    font-weight: normal;
    margin-top: 17px;
    text-align: left; }
  .containerHelp .containerHelp__reliability {
    height: 392px;
    margin-top: 55px; }
  .containerHelp .containerHelp__block {
    width: 213px;
    height: 172px; }
    .containerHelp .containerHelp__block img {
      margin-left: -146px; }
  .containerHelp .specialdiv2 {
    margin-left: 33px; }
  .containerHelp .specialdiv3 {
    margin-top: 54px; }

footer {
  height: 234px;
  background-color: #404040; }

.slick-dots li button:before {
  font-size: 10px;
  color: white;
  opacity: 1; }

ul.slick-dots {
  bottom: 25px;
  left: -12px; }

.slick-dots li.slick-active button:before {
  color: #00BEAE; }
